numpy==1.16.0
matplotlib==2.2.4
keras==2.2.4
tensorflow==1.15.0
pandas==0.25.1
sklearn==0.0
scikit-optimize==0.8.1
sklearn-genetic==0.2
plaidml-keras==0.6.4
plaidbench==0.6.4
pdoc3==0.9.1
gitpython==3.1.8