ConfigSpace==0.4.*
numpy==1.19.*
matplotlib==3.3.*
pdoc3==0.9.*
pandas==1.2.*
tensorflow==2.4.*
scikit-learn==0.24.*
scikit-optimize==0.8.*
hpbandster==0.7.*
gitpython==3.1.*
emcee==3.0.*
pyDOE==0.3.*
smac==0.13.*
pydot==1.4.*